<main class="main">
  <div class="agenda">
    <div class="titulo">
      <label class="title">Consultas:</label>
    </div>
    <select class="form-select" aria-label="Default select example">
    <option selected>Selecionar Hospital</option>
    <option value="1">Unimed</option>
    <option value="2">Santa Joana</option>
    <option value="3">Esperança</option>
  </select>
  <select class="form-select" aria-label="Default select example">
    <option selected>Selecionar Profissional</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
  </select>
  <select class="form-select" aria-label="Default select example">
    <option selected>Horários Disponíveis</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
  </select>
  </div>


</main>


