<main class="main">
    <h2 class="title">Bem vindo ao ConsulMed!</h2>
  
    <section class="container-btn">
      <div>
        <button>Cadastrar beneficiário</button>
        <button>Cadastrar profissional</button>
        <button>Cadastrar hospital</button>
      </div>
      <div>
        <button>Cadastrar especialidade</button>
        <button>Consultar agenda</button>
        <button>Marcar consulta</button>
      </div>
    </section>
  
    <footer>
      <img src="../../../assets/medicos.png" alt="" width="700">
    </footer>
  
  </main>
  