<main>
  <select class="form-select" aria-label="Default select example">
    <option selected>Selecionar Hospital</option>
    <option value="1">Unimed</option>
    <option value="2">Santa Joana</option>
    <option value="3">Esperança</option>
  </select>
  <select class="form-select" aria-label="Default select example">
    <option selected>Selecionar Hospital</option>
    <option value="1">Unimed</option>
    <option value="2">Santa Joana</option>
    <option value="3">Esperança</option>
  </select>
  <select class="form-select" aria-label="Default select example">
    <option selected>Selecionar Hospital</option>
    <option value="1">Unimed</option>
    <option value="2">Santa Joana</option>
    <option value="3">Esperança</option>
  </select>
</main>

