<main class="main">
  <div class="container">
    <div class="tituloProfissional">
      <label class="title">Cadastrar Hospital</label>
    </div>

  <form>
    <div>
      <label for="nomeProfissional" class="col-sm-4 col-form-label descricao">Nome do Profissional:</label>
      <input type="text" class="form-control" id="Nome" [(ngModel)]="hospital.Nome" name="Nome" placeholder="Nome">
    </div>
    <div>
      <label for="nomeProfissional" class="col-sm-4 col-form-label descricao">CNPJ:</label>
      <input type="text" class="form-control" id="Cnpj" [(ngModel)]="hospital.Cnpj" name="Cnpj" placeholder="Cnpj">
    </div>
    <div>
      <label for="nomeProfissional" class="col-sm-4 col-form-label descricao">Endereço:</label>
      <input type="text" class="form-control" id="Endereco" [(ngModel)]="hospital.Endereco" name="Endereco" placeholder="Endereco">
    </div>
    <div>
      <label for="nomeProfissional" class="col-sm-4 col-form-label descricao">Telefone:</label>
      <input type="text" class="form-control" id="Telefone" [(ngModel)]="hospital.Telefone" name="Telefone" placeholder="Telefone">
    </div>
    <div>
      <label for="nomeProfissional" class="col-sm-4 col-form-label descricao">CNES:</label>
      <input type="text" class="form-control" id="Cnes" [(ngModel)]="hospital.Cnes" name="Nome" placeholder="Cnes">
    </div>
    <div>
      <label for="nomeProfissional" class="col-sm-4 col-form-label descricao">Ativo:</label>
      <input type="text" class="form-control" id="Ativo" [(ngModel)]="hospital.Ativo" name="Ativo" placeholder="Ativo">
    </div>
    <section class="container-btn">
    <div class="mb-3 row">
      <button (click)="salvarHospital()">Salvar</button>
    </div>
  </section>

  </form>

</div>
</main>
