<main class="main">
  <h1 class="title">Cadastrar hospital</h1>

  <form>
    <input type="text" class="form-control" id="Nome" [(ngModel)]="hospital.Nome" name="Nome" placeholder="Nome">
    <input type="text" class="form-control" id="Cnpj" [(ngModel)]="hospital.Cnpj" name="Cnpj" placeholder="Cnpj">
    <input type="text" class="form-control" id="Endereco" [(ngModel)]="hospital.Endereco" name="Endereco" placeholder="Endereco">
    <input type="text" class="form-control" id="Telefone" [(ngModel)]="hospital.Telefone" name="Telefone" placeholder="Telefone">
    <input type="text" class="form-control" id="Cnes" [(ngModel)]="hospital.Cnes" name="Nome" placeholder="Cnes">
    <input type="text" class="form-control" id="Ativo" [(ngModel)]="hospital.Ativo" name="Ativo" placeholder="Ativo">
    <div class="mb-3 row">
      <button (click)="salvarHospital()">Salvar</button>
    </div>
  </form>

</main>
